.header {
  background-color: #000;
  height: 100px;
  font-size: 1.2em;
}

ul,
.header__nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 90%;
  padding-top: 40px;
  padding-left: 100px;
}

.header-ul {
  padding: 0 200px;
}

.logo {
  position: absolute;
  top: 35%;
  left: 1%;
  background-color: #ff0101;
  width: 60px;
  border-radius: 50%;
}
h1 {
  color: #ff0101;
  font-family: sans-serif;
}
