.header {
  background-color: $MainBlack;
  height: 80px;
  font-size: 1.2em;
  box-shadow: 2px 2px 2px #000;
  ul,
  .header__nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding-top: 29px;
    padding-left: 78px;
    .logo img {
      position: absolute;
      top: 30%;
      left: 1.5%;
      background-color: $MainRed;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    h1 {
      color: $MainRed;
      font-family: sans-serif;
      font-size: 1.5rem;
      font-weight: lighter;
      margin: 0 50px 0 17px;
    }
    .header-ul {
      padding: 0 25px;
      justify-content: space-around;
      a {
        text-decoration: none;
        color: $MainWhite;
        font-weight: normal;
        font-size: 1.2rem;
        transition: 0.3s;
      }
      a:hover {
        color: $MainRed;
      }
      .active {
        color: $MainRed;
      }
    }
  }
}
