main {
  width: 1200px;
  height: auto;
  margin-right: 50px;
  .secondary-graph {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    h3 {
      position: absolute;
      top: 4em;
      left: 4em;
      color: $TxtAverage;
      z-index: 1;
    }
  }
}
