.sidebar__nav {
  position: relative;
  width: 90px;
  height: 93vh;
  background-color: #000;
  .ul-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35%;
    padding-top: 150px;
    padding-left: 20px;
    .li-side img {
      background-color: #fff;
      width: 32px;
      height: 32px;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    .li-side img:hover {
      transform: scale(1.1);
    }
    button {
      background-color: #fff;
      width: 55px;
      height: 55px;
      border-radius: 5px;
      font-weight: bold;
      font-size: 1em;
      text-decoration: underline;
      color: #ff0000;
      cursor: pointer;
    }
  }
  .copyright {
    display: block;
    position: absolute;
    top: 70%;
    left: -50%;
    width: 200px;
    color: #fff;
    font-size: 0.7em;
    transform: rotate(270deg);
  }
}
