.analytics {
  display: flex;
  width: 100%;
  align-items: center;
  background: $BgRechart;
  border-radius: 5px;
  line-height: 1.7em;
  strong {
    font-size: 1.2vw;
  }
  span {
    font-size: 0.9vw;
  }
  img {
    width: 1.5vw;
    height: 1.5vw;
    margin: 1.5vw;
    padding: 15px;
    background-color: $MainBlack;
    border-radius: 10px;
  }
  .calories {
    background: rgba(255, 0, 0, 0.1);
  }
  .protéines {
    background: rgba(74, 184, 255, 0.1);
  }
  .glucides {
    background: rgba(249, 206, 35, 0.2);
  }
  .lipides {
    background: rgba(253, 81, 129, 0.1);
  }
}
