.anaItem {
  width: 320px;
  height: 320px;
  border-radius: 5px;
}
.activity {
  width: 100%;
  border-radius: 5px;
  margin: 50px 20px 50px 0;
  background: $BgRechart;
  .legend {
    display: flex;
    justify-content: space-between;
    width: 920px;
    h3 {
      margin: 50px 25px;
    }
    .legendItems {
      justify-content: space-between;
      width: 40%;
      margin-top: 50px;
      display: flex;
      span {
        margin-right: 5px;
      }
    }
  }
}

.average {
  background: $MainRed;
}

.performance {
  background: $BgRadial;
}

.score {
  background: $BgRechart;
}
