.anaItem {
  width: 200px;
  height: 200px;
  height: auto;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 25px;
}
.activity {
  width: 100%;
  border-radius: 5px;
  margin: 50px 20px 25px 0;
  background: $BgRechart;
  .legend {
    display: flex;
    justify-content: space-between;
    width: 100%;
    h3 {
      margin: 20px;
    }
    .legendItems {
      justify-content: space-between;
      width: 40%;
      margin: 20px;
      display: flex;
      font-size: 0.7em;
      span {
        margin-right: 5px;
      }
    }
  }
}

.average {
  background: $MainRed;
  h3 {
    position: absolute;
    top: 2em;
    left: 2em;
    color: $TxtAverage;
    z-index: 1;
  }
}

.performance {
  background: $BgRadial;
}

.score {
  background: $BgRechart;
  position: relative;
  h3 {
    color: $MainBlack;
    position: absolute;
    margin: 25px;
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1rem;
    strong {
      text-align: center;
      font-size: 1.5em;
    }
  }
}
