.home {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 90%;
  margin-bottom: 50px;
  box-sizing: border-box;
  .body-graph {
    display: flex;
    width: 100%;
    main {
      width: 75%;
      height: auto;
      .secondary-graph {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: auto;
        width: 90%;
        margin: 30px;
      }
    }
    aside {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
      height: auto;
      margin-top: 30px;
      margin-right: 30px;
    }
  }
}
