@import './../01_Base/module.scss';

.users {
  position: absolute;
  top: 15%;
  left: 15%;
  display: flex;
  a {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 50px;
    li {
      background-color: #ff0101;
      width: 250px;
      height: 250px;
      border-radius: 50%;
      text-align: center;
      line-height: 250px;
      list-style: none;
      box-shadow: 2px 2px 15px #000;
      transition: 0.3s;
      img {
        width: 100%;
      }
    }
    .userName {
      display: block;
      color: #000;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      margin-top: 25px;
    }
    li:hover {
      transform: scale(1.05);
    }
  }
}
